* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #fad4a4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F99148;
    margin-bottom: 15px;
    width: 100%;
    height: 6.5em;

}

.section-carrusel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.prevnext{
    background-color: #1B1B1B;
    border-radius: 50px;
    margin: 5px;
}


.slide {
    overflow: hidden;
    border-radius: 10px;
}

.logo-container{
    /* border: 2px solid blue; */
    margin-left: 2em;
}
.img-logo {
    width: 5.5rem
}

.nav {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 40%;
}

.nav-link {
    display: flex;
    list-style-type: none;
    gap: 5rem;
}

.nav-link li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.nav-link li a:hover{
    color: #155C84;
}
/* clases para abrir el menu hamburguesa y cerrarlo */

.abrir-menu, 
.cerrar-menu  {
    display: none;
}
/* ----------------------------------------------------*/




.main {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    /* background-color: hsla(5, 0%, 97%, 0.999); */
    background-color: #F5F3F3;
}



.section-a h1 {
    text-align: center;
    color: red;
    font-weight: bold;
    padding-top: 1em;
    margin-bottom: 1em;
}
.section-a p{
    text-align: justify;
    width: 45%;
    margin: 0 auto;

}
.section-a h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: red;
    font-weight: bold;
}
.button {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}
.button button {
    background-color: black;
    color: #ECECEC;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
}
.button button:hover {
    background-color: #F99148;
}




.section-b {
    display: flex;
    height: 500px;
    text-align: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.article-a {
    width: 25em;
    background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url('img/ropa-deportiva.jpg');
    background-repeat: no-repeat;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parrafo {
    color: #fff;
}

.article-b{
    width: 25em;
    background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url('img/talle-inclusivo.jpg');
    background-repeat: no-repeat;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article-c {
    width: 25em;
    background-image: linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url('img/ofertas.jpg');
    background-repeat: no-repeat;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: black;
    color: #fff;
}


.img {
    width: 8em;
    height: 12em;
}
.img img {
    width: 100%;
}

.section-c {
    /* background-color: aqua; */
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cliente-container {
    width: 50%;
    text-align: center;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container img{
    border-radius: 50%;
    margin-left: 2.5em;
    margin: 0 auto;
}
.info span{
    /* margin-left: 10px; */
    font-size: 20px;
}

.description {
    width: 70%;
    /* background-color: bisque; */
    order: -1;
    text-align: justify;
}
.boton {
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    background-color: #1B1B1B;
    margin-bottom: 1em;
    padding: 10px;
    color: #ECECEC;
    font-weight: bold;

}

footer {
    background-color: #506471;
    display: flex;
    margin-top: 20px;
    padding: 1em;
    justify-content: space-around;
    color: #ECECEC;
}

.redes li{
    /* background-color: aqua; */
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.redes li:hover {
    color: #ECECEC;
}

.sucursales {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* background-color: #fff; */
}
.sucursales a {
    text-decoration: none;
    color: #1B1B1B;
    cursor: pointer;
}

.sucursales a:hover {
    color: #ECECEC;
}
.sucursales ul li{
    list-style-type: none;
}

@media (max-width: 350px) {
        .section-carrusel {
            display: none;
        }
 
        .abrir-menu,
        .cerrar-menu {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
        }  
    
        .abrir-menu {
            /* color: #1c1c1c; */
            color: white;
         } 
    
        .cerrar-menu {
            color: #ECECEC;
        }
    
        
        .nav {
            background-color: red;
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #1B1B1B;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
        }
    
        .nav.visible {
            opacity: 1;
            visibility: visible;
        }
    
        .link {
            flex-direction: column;
            align-items: end;
        }
    
        .link li a {
            color: #ECECEC;
        }

}  