body{
    font-family: 'Roboto', sans-serif;
}

/*List Order*/
.form-select{
	cursor: pointer;
	text-align: justify;
	border-color: grey;
}

/*Card Products*/	
.product-card{
	background-color: #fff;
	border:none;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail-image{
}

.discount{
	background-color: red;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 14px;
	border-radius: 50%;
	color: #fff;
}

.wishlist{
	height: 25px;
	width: 25px;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first{
	position: absolute;
	width: 100%;
	padding: 9px;
}

.product-name{
	font-size: 15px;
	font-weight: bold;
	width: 75%;
}

.list-price{  
	font-size: 16px;
	font-weight: bold;
	color: black;
    text-align: right;
}

.new-price{
	font-size: 16px;
	font-weight: bold;
	color: red;
    text-align: right;
}
.old-price{
	font-size: 14px;
	font-weight:normal;
	color: rgb(167, 165, 165);
    text-decoration:line-through;
    text-align: right;
}

.custom-btn {
    border-radius:20px;
    background : #E8630A;
    border:1px solid transparent;
    color:#fff;
    height: 40px;
    width: 100vh;
    font-style: bold; 
    font-size: 16px;
  }

/*Filters*/
.type-product{
	background-color: #E8630A;
    font-size: 22px;
	color: white;
	height: 50px;
	font-weight: bold;
	text-align: center;
	justify-content:center;
}

.boton-container {
	position: relative;
}

.btn-lg{
	position: absolute;
    top: 25px;
	left: 50px;
	height: 40px;
    text-align: center;
	justify-content: center;
	border-radius: 5px;
    cursor: pointer;
    transition: left 0.4s ease;
	border: none;
	text-decoration:underline;
	background-color: white;
}

.btn-lg{
	  font-size: 25px;
	  background-color:#FAD4A4 ;
	  width: 1em;
	  height: 1em;
	  /* line-height: 36px; */
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  left: 0;
	  top: -2em;
}
  
.btn.click.span:before{
	content: '\f00d';
}

.sidebar{
	position: fixed;
	width: 300px;
	height: 100%;
	left: -300px;
	transition: left 0.4s ease;
	z-index:1000;
}

.sidebar.show{
	left: 0px;
}

.sidebar .text{
	color: white;
	font-size: 22px;
	font-weight: 600;
	line-height: 65px;
	text-align: center;
	background: #035397;
	letter-spacing: 1px;
}

nav ul{
	background: #035397;
	height: 100%;
	width: 100%;
	list-style: none;
	padding-left: 10px;

}
nav ul li{
	line-height: 50px;
	border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 13px;
	padding-left: 14px;
	font-weight: 500;
	display: block;
	width: 100%;
	border-left: 3px solid transparent;
}
nav ul li.active a{
	color: #FCD900;
	  background: #035397;
	  border-left-color: #FCD900;
}
  
.feat-show{
	transition: all 0.5s;
}
  
nav ul li.active ul{
   transition: all 0.5s;
}
nav ul ul{
	position: static;
	display: none; 
} 
   
nav ul.show{
	display: block;
	transition: all 0.5s;
}
  
  nav ul ul li{
	line-height: 42px;
	border-top: none;
  }
  nav ul ul li a{
	font-size: 12px;
	color: #e6e6e6;
	
  }
  nav ul li.active ul li a{
	color: #e6e6e6;
	background: #1b1b1b;
	border-left-color: transparent;
  }
  
  nav ul li a span.rotate{
	transform: translateY(-50%) rotate(-180deg);
  }

  /*Single Product */

  #prodetails{
	display: flex;
	margin-top: 20px;
  }


#prodetails .single-pro-image{
	width: 40%;
	margin-right: 50px;
  }

.small-img-group {
	display: flex;
	justify-content: space-between;
  }

.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
  }

  #prodetails .single-pro-details{
	width: 50%;
	padding-top: 30px;
  }

  #prodetails .single-pro-details h4{
	padding: 40px 0 20px 0;
  }

  #prodetails .single-pro-details {
	padding: 40px 0 20px 0;
	color: grey;
  }

  #prodetails .single-pro-details select{
	display: block;
	padding: 5px 10px;
	margin-bottom: 10px;
  }

  #prodetails .single-pro-details input {
  	width: 60px;
  	height: 47px;
  	padding-left: 10px;
  	font-size: 16px;
  	margin-right: 10px;
	border-radius: 5px;
	border-color: grey;
  }

  #prodetails .single-pro-details span {
  	line-height: 25px;
  }

  .s-prod-list-price{  
	font-size: 24px;
	font-weight: bold;
	color: rgb(99, 98, 98);
    text-align: right;
}

.s-prod-new-price{
	font-size: 24px;
	font-weight: bold;
	color: red;
    text-align: right;
}
.s-prod-old-price{
	font-size: 20px;
	font-weight:normal;
	color: rgb(167, 165, 165);
    text-decoration:line-through;
    text-align: right;
}


